<div>
  <table class="table table-responsive">
    <tbody>
      <tr>
        <td colspan="4"></td>
        <td>Total Price:
          <br>{{getTotalPrice()}} PLN</td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#NewCost">
            Add new cost
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Mileage</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cost of costs.reverse(); let i=index">
        <th scope="row">{{costs.length-i}}</th>
        <td>{{cost.name}}</td>
        <td>{{cost.date | date : "dd/MM/yyyy"}}</td>
        <td>
          <span *ngIf="cost.mileage;else null_content">{{cost.mileage}} km</span>
        </td>
        <td>
          <span *ngIf="cost.price;else null_content">{{cost.price}}</span> PLN
        </td>
        <td>
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#CostDetails" (click)="select(cost)">
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #null_content>-</ng-template>