<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Mileage</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cost of costs; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{cost.name}}</td>
      <td>{{cost.date | date : "dd/MM/yyyy"}}</td>
      <td>
        <span *ngIf="cost.mileage;else null_content">{{cost.mileage}} km</span>
      </td>
      <td>
        <span *ngIf="cost.price;else null_content">{{cost.price}}</span> PLN
      </td>
      <td>
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#CostDetails" (click)="select(cost)">
          Details
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <th>Total Price:</th>
      <td colspan="2">{{getTotalPrice()}} PLN</td>
    </tr>
  </tbody>
</table>

<stn-cost-details></stn-cost-details>

<ng-template #null_content>-</ng-template>