<table class="table table-responsive">
    <tbody>
        <tr>
            <th>Brand</th>
            <td>{{cars[0].brand}}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{cars[0].model}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{cars[0].type}}</td>
        </tr>
        <tr>
            <th>VIN</th>
            <td>{{cars[0].vin}}</td>
        </tr>
        <tr>
            <th>Max power</th>
            <td>{{cars[0].maxPower}}</td>
        </tr>
        <tr>
            <th>Max torque</th>
            <td>{{cars[0].maxTorque}}</td>
        </tr>
    </tbody>
</table>