<div *ngFor="let item of car">
    <table class="table table-responsive">
        <tbody *ngIf="item">
            <tr>
                <th>Brand</th>
                <td>{{item.brand}}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{item.model}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{item.type}}</td>
            </tr>
            <tr>
                <th>VIN</th>
                <td>{{item.vin}}</td>
            </tr>
            <tr>
                <th>Max power</th>
                <td>{{item.maxPower}}</td>
            </tr>
            <tr>
                <th>Max torque</th>
                <td>{{item.maxTorque}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="car.length===0">Please select car</div>