<button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#newCost">New cost</button>

<div class="modal fade" id="newCost" tabindex="-1" role="dialog" aria-labelledby="newCostTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCostTitle">New cost for {{selectedCar[0].name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="costForm" novalidate (submit)="onFormSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" [formControl]="costForm.controls['name']">
            <small class="text-danger" *ngIf="costForm.controls['name'].touched && costForm.controls['name'].hasError('required')">Name is required</small>
          </div>
          <div class="form-group">
            <label for="workshop">Workshop</label>
            <select type="text" class="form-control" id="workshop" [formControl]="costForm.controls['workshop']">
              <option>BRAK</option>
              <option *ngFor="let workshop of workshops">{{workshop}}</option>
            </select>
            <small class="text-danger" *ngIf="costForm.controls['workshop'].touched && costForm.controls['workshop'].hasError('required')">Select from options</small>
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" placeholder="Enter date" [formControl]="costForm.controls['date']">
            <small class="text-danger" *ngIf="costForm.controls['date'].touched && costForm.controls['date'].hasError('required')">Date is required</small>
          </div>
          <div class="form-group">
            <label for="mileage">Mileage</label>
            <input type="number" class="form-control" id="mileage" placeholder="Enter mileage" [formControl]="costForm.controls['mileage']">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" placeholder="Enter price" [formControl]="costForm.controls['price']">
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea type="text" class="form-control" id="comment" placeholder="Enter comment" rows="3" [formControl]="costForm.controls['comment']"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-success" [disabled]="!costForm.valid">Add cost</button>
        </div>
      </form>
    </div>
  </div>
</div>